@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

body {
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-background {
    border: 5px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.login-container {
    background: #780662;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 725px;
    height: 425px;
    display: flex;
    align-items: center;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 10px;
    color: white;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-align: left;
}

.login-container input {
    color: white;
    width: 315px;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    outline: none;
}

.login-container input::placeholder{
    color: white;
}

.botao-entrar {
    width: 130px;
    height: 45px;
    background-color: #780662;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.botao-entrar:hover {
    background-color: white;
    color: #780662;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #780662;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.area-entrar, .principal-entrar, #principal-cadastro{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 2s;
    background-color: black;
    border-radius: 0 10px 10px 0;
}

.principal-entrar h2, #principal-cadastro h2{
    color: #780662;
}

.area-cadastro{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    transition: width 2s;
    background-color: #780662;
}

.botao-abrir-cadastro{
    width: 130px;
    height: 45px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.botao-abrir-cadastro:hover{
    background-color: white;
    color: #780662;
}

.secundario-entrar{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.pop-up-aviso{
    background-color: rgb(42, 146, 194);
    position: absolute;
    top: 9%;
    z-index: 1;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    display: none;
    flex-direction: row;
    align-items: center;
    animation: aviso 3s;
}

#fechar-pop-up{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: auto;
}

.texto-aviso-span{
    width: 90%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.botao-aviso-span{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#principal-cadastro{
    display: none;
}

#principal-cadastro label{
    margin-bottom: 10px;
}

#secundario-cadastro{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes aviso {
    from{
        top: -8%;
    }
    to {
        top: 9%;
    }
}